.jumbotron  {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to top, silver, gray, blue);
    color: black;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: linear-gradient(to bottom, silver, gray, beige);
}

.navbar  {
    background-color: navy;
}

.row-content  {
    border: 3px solid;
    min-height: 200px;
}

h1  {
    text-align: center;
    font-size: 60px;
}

footer  {
    padding: 20px 0;
    border: solid;
    background-color: whitesmoke;
}

h2, h4, h5, p {
    text-align: center;
    text-emphasis: bold;
}

h3  {
    text-align: center;
    font-size: 75px;
}
a  {
    color: inherit;
}
a:hover {
    color: inherit;
    background-color: lightslategray;
  }

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid black;
}